<html><body>


<div class="container">
    <label for="username"><b>Username</b></label>
    <input type="text" placeholder="Enter Username" id="login_username" required><br>

    <label for="password"><b>Password</b></label>
    <input type="password" placeholder="Enter Password" id="login_password" required><br>

    <a id="login_result"></a><br>

    <button type="submit" id="login">Login</button>
</div>
<br><br><br><br>
<div>
    <label for="username"><b>Username</b></label>
    <input type="text" placeholder="Enter Username" id="register_username" required><br>
    
    <label for="password"><b>Password</b></label>
    <input type="password" placeholder="Enter Password" id="register_password" required><br>        
    
    <button type="submit" id="register">Register</button>
    
    <a id="register_result"></a><br>
</div>
<script>
    function login()
    {
        let username = document.getElementById("login_username").value;
        let password = document.getElementById("login_password").value;
        let data = {'username': username, 'password': password};
        fetch("/stage4/login",{
            method: 'POST',
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(data),
        }).then(response => {
            if (response.redirected){
                window.location.href = response.url;
            }
            else {
                response.text().then(text => {
                    document.getElementById("login_result").text = text;
                })
            }
        });
    }

    function register()
    {
        let username = document.getElementById("register_username").value;
        let password = document.getElementById("register_password").value;
        let data = {'username': username, 'password': password};
        fetch("/stage4/register",{
            method: 'POST',
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(data),
        }).then(response => {
            if (response.redirected){
                window.location.href = response.url;
            }
            else {
                response.text().then(text => {
                    document.getElementById("register_result").text = text;
                })
            }
        });
    }
    document.getElementById("login").addEventListener("click", login, false);
    document.getElementById("register").addEventListener("click", register, false);
</script>
    
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</body></html>